<h1>Shelter Use Only!</h1>

<a href="/shelter/add_animal_form">Add an Animal</a>
<br>
<a href="/shelter/add_cust_form">Add a Customer</a>

<br>
<br>
<a href="/shelter/view_animals">View Animals</a>
<br>
<a href="/shelter/view_customers">View Customers</a>
